{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <link rel="stylesheet" href="{% static 'styles/index_style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <div class="top-bar">
            <a href="{% url 'prof_type' %}">Профиль</a>
            <a href="{% url 'logout' %}">Выйти</a>
        </div>
    {% else %}    
        <div class="top-bar">
            <a href="{% url 'registration' %}">Регистрация</a>
            <a href="{% url 'login' %}">Вход</a>
        </div>
    {% endif %}  

    <!-- Page content goes here -->
</body>
</html>