{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/profile_type_style.css' %}">
    <title>Select profile</title>
</head>
<body>
    <div class='main_block'>
        <a href={% url 'profile' slug=customer %}>
            <div class='choise'>
                <span>Customer</span>
            </div>
        </a>

        <a href={% url 'profile' slug=executor%}>
            <div class='choise'>
                <span>Executor</span>
            </div>
        </a>
    </div>
</body>
</html>