{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Phone Number</title>
    <link rel="stylesheet" href="{% static 'styles/reg_style.css' %}">
  </head>
  <body>
    
    <form action="{% url 'registration' %}" method="post">
      {% csrf_token %}

      {{type_form.profile_type}}

      {{ form.username.label }}
      {{ form.username }}

      {{ form.first_name.label }}
      {{ form.first_name }}
      
      {{ form.last_name.label }}
      {{ form.last_name }}

      {{ form.email.label }}
      {{ form.email }}

      {{ form.phone.label }}
      {{ form.phone }}

      {{ form.password1.label }}
      {{ form.password1 }}

      {{ form.password2.label }}
      {{ form.password2 }}

      <button type="submit">Submit</button>
      
    </form>
  </body>
</html>
